[Unit]
Description=Run a status sync after factory reset. 

[Service]
Type=simple
ExecStart=/root/scripts/post_factory_reset.sh

[Install]
WantedBy=multi-user.target