[Unit]
Description=FeralFile Updater Instance Run At %i
After=network.target

[Service]
Type=simple
ExecStart=/root/scripts/feral-updater.sh %i
StandardOutput=append:/var/log/auto-updaterd.log
StandardError=append:/var/log/auto-updaterd.log