[Unit]
Description=FeralFile Updater Instance - %i
After=network.target

[Service]
Type=simple
ExecStart=/root/scripts/feral-updater.sh
StandardOutput=append:/var/log/auto-updaterd.log
StandardError=append:/var/log/auto-updaterd.log